doctype html
html
  head
    script.
      const html = document.querySelector('html');
      if (html.animate) {
        console.log('animate can run')
      } else {
        const js = document.createElement('script');
        js.src = 'https://rawgit.com/web-animations/web-animations-js/master/web-animations.min.js';
        document.head.appendChild(js);
      }
    meta(lang="en" charset="UTF-8")
    title TicTacToe__Refactored-FCC
    style.
      @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Sansita|VT323');
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    script(src="https://code.getmdl.io/1.3.0/material.min.js")
  body
    div.x-turn.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-shadow--8dp Player X Turn
    div.o-turn.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-shadow--8dp Player O Turn
    h3.title TicTacToe-FCC Front End Project
    section.game-board.mdl-card-mdl-js-card.mdl-shadow--24dp
      canvas.canvas0.tile(height="100" width="100"
                          onclick="appInstance.draw(0)"
                          onmouseover="appInstance.hover(0)"
                          onmouseout="appInstance.removeHover(0)")
      canvas.canvas1.tile(height="100" width="100"
                          onclick="appInstance.draw(1)"
                          onmouseover="appInstance.hover(1)"
                          onmouseout="appInstance.removeHover(1)")
      canvas.canvas2.tile(height="100" width="100"
                          onclick="appInstance.draw(2)"
                          onmouseover="appInstance.hover(2)"
                          onmouseout="appInstance.removeHover(2)")
      br
      canvas.canvas3.tile(height="100" width="100"
                          onclick="appInstance.draw(3)"
                          onmouseover="appInstance.hover(3)"
                          onmouseout="appInstance.removeHover(3)")
      canvas.canvas4.tile(height="100" width="100"
                          onclick="appInstance.draw(4)"
                          onmouseover="appInstance.hover(4)"
                          onmouseout="appInstance.removeHover(4)")
      canvas.canvas5.tile(height="100" width="100"
                          onclick="appInstance.draw(5)"
                          onmouseover="appInstance.hover(5)"
                          onmouseout="appInstance.removeHover(5)")
      br
      canvas.canvas6.tile(height="100" width="100"
                          onclick="appInstance.draw(6)"
                          onmouseover="appInstance.hover(6)"
                          onmouseout="appInstance.removeHover(6)")
      canvas.canvas7.tile(height="100" width="100"
                          onclick="appInstance.draw(7)"
                          onmouseover="appInstance.hover(7)"
                          onmouseout="appInstance.removeHover(7)")
      canvas.canvas8.tile(height="100" width="100"
                          onclick="appInstance.draw(8)"
                          onmouseover="appInstance.hover(8)"
                          onmouseout="appInstance.removeHover(8)")
      br
    section.scoreboard
      div.x-container
        div.x-score-label
          span.label X
          hr
        div.x-score
          span.score.span-x-score 9
      div.o-container
        div.o-score-label
          span.label O
          hr
        div.x-score
          span.score.span-o-score 4
    button.reload.btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.reload.mdl-js-ripple-effect reset
    div.one-player-or-two
        div.mdl-card-mdl-js-card.mdl-shadow--24dp.span-container
          h3 How many players ?
          span.one-player
            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect.one One Player
          span.two-player
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.two Two Player
    div.choose-symbol
      div.mdl-card-mdl-js-card.mdl-shadow--24dp.span-container
        h3 Pick your symbol
        div
          span.one-player
            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect.x X
          span.two-player
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.o O
    footer
      div.repo.footer-child
        a(href='https://github.com/kjwatke/fcc-tic_tac_toe_refactored/' target='_blank' class='link') Source Code
        span on GitHub
      div.creator.footer-child
        span Made by
        a(href='https://kevinwatke.com' target='_blank' class='author-link') Kevin Watke
      div.oss.footer-child
        a(href='https://github.com/kjwatke/fcc-tic_tac_toe_refactored/blob/master/MIT.md' target='_blank' class='link') MIT
        span License
    script(src="js/app.js")
